body {
  background-image: url('christmas-bench-scene.jpg');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

body.index {
  color: white;
  text-align: center;
}

body.winter-wonderland {
  background-image: url('snowy-background.jpg');
  font-family: 'Poppins', sans-serif;
}

body.spooky-special {
  background-image: url('halloween.jpg')
}

body.blog {
  background-image: url('christmas-tree-mug.jpg')
}

body.contact-us {
  background-image: url('redsnowflakes.jpg')
}

strong.homepage-title {
  font-size: 160px;
  font-family:'Amatic SC', cursive;

}

div#page-info {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
}

div {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;

}

ul.nav {
  background:rgba(0,0,0,0.5);
  color: white;
}

ul.nav a {
  color: white;
}

ul.nav li {
  display: inline-block;
  position: relative;
  padding: 0px 40px;
  font-family: 'Quicksand', sans-serif;

}

div.myButton {
  cursor: pointer;

}

img {
  border: 7px solid white;

  }

  .img-circle {
    border: 7px solid white;
  }

img#halloween-pic {
  border-color: #352C25;
}

h1.title {
  background-size: cover;
  font-family: 'Amatic SC', cursive;
  font-size: 120px;
  font-weight: bolder;
  color: white;
}

h1#winter {
  background-image: url('abstract-christmas.jpg');

}

h1#halloween {
  background-image: url('halloween-header.jpg');

}

div#border {
  border: 3px dashed #352C25;
  padding: 10px 10px;

}

h1.halloween {

}

strong {
  font-family: Amatic SC, cursive;
  font-size: 70px;

}

small {
  font-family: 'Poppins', sans-serif;
}

label {
  color: white;
}

div#contactbuttons {
  text-align: center;
}

p.footer {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: lighter;
  font-size: 15px;
}


/*font-family: 'Amatic SC', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Indie Flower', cursive;*/
